<div ng-controller="mamaDetailsController">
    <div class="container">
        <h4><b>Mama {{mama.Name}}</b></h4>
        <a ng-href="index.html#/mama/update/{{mama.MamaDogId}}" class="btn btn-info float-right">Update</a>
        <div class="row">
            <div class="col-md-10 offset-1 rounded" style="background-color:lightgray; margin-bottom: 1%;">
                <div class="row">
                    <p class="col-md-3"><b>BirthDate: {{mama.BirthDate}}</b></p>
                    <p class="col-md-3"><b>Breed: {{mama.Breed}}</b></p>
                    <p class="col-md-3"><b>Total Puppies: {{mama.PuppyCount}}</b></p>
                    <p class="col-md-3"><b>Total Litters: {{mama.LitterCount}}</b></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 rounded" style="background-color: #ececec">
                <div>
                    <h5 class="float-left"><b>Notes</b></h5>
                    <a class="float-right btn btn-info" style="margin-top: 2%" ng-href="index.html#/mama/note/add/{{mama.MamaDogId}}">Add Note</a>
                </div>
                <div style="margin-top: 12%">
                    <div ng-repeat="n in notes" style="margin-top: 3%">
                        <div class="border rounded" style="padding: 2%; background-color: lightgray;">
                            <div class="row">
                                <h6 class="col-md-9"><b>{{n.NoteTitle}}</b></h6>
                                <a class="btn btn-sm btn-outline-info" style="margin-right: 7px;" ng-href="index.html#/mama/note/update/{{n.MamaDogNoteId}}">Update</a>
                                <button class="btn btn-sm btn-outline-danger" ng-click="delete(n.MamaDogNoteId)">Delete</button>
                            </div>
                            <div class="row">
                                <p class="offset-1">{{n.Note}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rounded" style="background-color: whitesmoke">
                <h5><b>Litters</b></h5>
                <table class="table table-striped">
                    <thead>
                        <tr class="thead-dark">
                            <th>
                                Litter Id
                            </th>
                            <th>
                                Papa Dog
                            </th>
                            <th>
                                Birth Date
                            </th>
                            <th>
                                Puppy Count
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>

                    <tr ng-repeat="l in litters">
                        <td>
                            {{l.LitterId}}
                        </td>
                        <td>
                            <a class="btn btn-outline-info" ng-href="index.html#/Papa/{{l.PapaDogId}}">{{l.PapaDogName}}</a>
                        </td>
                        <td>
                            {{l.BirthDate}}
                        </td>
                        <td>
                            {{l.PuppyCount}}
                        </td>
                        <td>
                            <a ng-href="index.html#/Litter/{{l.LitterId}}"><button class="btn btn-info">Details</button></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>